@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.crimson {
  color: #a60f2d;
}

.ubuntu {
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.nav__container {
  width: 100%;
  max-width: 1400px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

nav {
  height: 80px;
  display: flex;
}

.header_logo {
  height: 8vh;
  padding-left: 20px;
}

.logo__wrapper {
  display: flex;
  align-items: center;
}

.nav__links {
  z-index: 2;
}

.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  padding: 8px;
  color: #000;
}

.nav__link:hover {
  background-color: #ddd;
  color: black;
  border-radius: 10px;
}

.nav__link.active {
  background-color: #a60f2d;
  color: white;
  border-radius: 10px;
}

.nav__link.logout {
  background-color: #1f1f1f;
  color: #fff;
  border-radius: 10px;
}

/* FOR LOGGED VIEW */
.profile__picture--wrapper {
  height: 0px;
  width: 40px;
  margin-left: 16px;
}

.profile__picture {
  width: 100%;
  border-radius: 50%;
}

/* WHO ARE WE */
.section__container {
  padding: 80px 0;
}

.section__row {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section__title {
  margin-bottom: 20px;
}

.section__para {
  text-align: center;
  max-width: 600px;
  font-weight: 600;
}

.section__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section__left {
  width: 50%;
}

.section__right {
  width: 50%;
}

.gatherlab__logo {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about__logo {
  width: 100%;
}

/* VISION */

/* MISSION */

/* GALLERY */
#gallery {
  position: relative;
}
.gallery__wrapper {
  display: flex;
  margin: 48px;
}

.gallery__image--wrapper {
  position: relative;
  border-radius: 20px;
  box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.45);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__image {
  max-width: 100%;
  border-radius: 12px;
  transition: all 600ms ease;
}

.gallery__image--wrapper:hover .gallery__image {
  transform: scale(1.07);
}

/* FOOTER */
footer {
  background-color: #1f1f1f;
}

.footer__container {
  padding: 80px 0;
}

.footer__row {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gciConnect__logo {
  color: #a60f2d;
}

.footer__logo .gciConnect__logo {
  color: #fff;
}

.gcisl__logo {
  margin-left: 20px;
  max-width: 35%;
  width: 100%;
}

.footer__wrapper {
  margin: 50px 0;
}

.footer__link {
  color: #fff;
  font-weight: 600;
  padding: 0 8px;
}

.footer__list {
  margin: 20px 0 24px 0;
  display: flex;
  justify-content: center;
}

.space {
  padding-top: 50px;
  text-align: center;
  color: black;
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect::after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  background-color: black;
  transition: all 300ms ease;
}

.link__hover-effect:hover::after {
  left: 0;
  width: 100%;
}

.link__hover-effect--white::after {
  background-color: #fffbf8;
}
/* SHAPES */

.shape {
  position: absolute;
  opacity: 1;
  max-width: 150px;
  max-height: 150px;
  z-index: 1;
}

.shape--0 {
  top: 20vh;
  left: 85vw;
}

.shape--1 {
  top: 70vh;
  left: 8vw;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 1024px) {
  nav {
    height: auto;
  }

  .nav__container {
    flex-direction: column;
    align-items: center;
  }

  .nav__links {
    margin: 20px;
  }

  .nav__link {
    font-size: 16px;
    margin-left: 12px;
    padding: 4px;
  }

  .profile__picture--wrapper {
    margin-left: 12px;
  }

  .section__row {
    max-width: 800px;
  }

  .section__wrapper {
    flex-direction: column;
  }
  

  .section__right {
    width: 100%;
  }

  .section__left {
    width: 100%;
  }

  .shape {
    opacity: 0.3;
    max-width: 120px;
    max-height: 120px;
    z-index: -1;
  }

  .shape--0 {
    top: 15vh;
    left: 70vw;
  }

  .shape--1 {
    top: 50vh;
    right: 5vw;
  }
}

@media screen and (max-width: 550px) {
  .logo__wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  .nav__container {
    flex-direction: column;
    align-items: center;
  }

  .nav__links {
    margin-top: 20px;
  }

  .nav__link {
    font-size: 8px;
    margin: 8px;
    padding: 4px;
  }

  .profile__picture--wrapper {
    margin-left: 8px;
  }

  .section__title {
    text-align: center;
  }

  .section__row {
    max-width: 350px;
  }
  
  .section__container {
    padding: 40px 0;
  }

  .shape {
    opacity: 0.3;
    max-width: 120px;
    max-height: 120px;
  }

  .shape--0 {
    top: 15vh;
    left: 70vw;
  }

  .shape--1 {
    top: 50vh;
    right: 5vw;
  }

  h1 {
    font-size: 36px;
  }
}

@media screen and (max-width: 450px) {
  .nav__container {
    flex-direction: column;
    align-items: center;
}

.nav__links {
    margin-top: 20px;
}

.nav__link {
    font-size: 8px;
    margin: 8px;
    padding: 4px;
}

h1 {
  font-size: 36px !important;
  font-weight: 700 !important;
}
}