@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.crimson {
    color: #A60F2D;
}

.ubuntu {
    font-family: 'Ubuntu', sans-serif;
}


a {
    text-decoration: none; 
}

h1 {
    font-size: 48px;
    font-weight: 700; 
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__container {
    width: 100%;
    max-width: 1800px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

nav {
    height: 80px;
    display: flex;
}

.nav__links {
    z-index: 2;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 8px;
    color: #000;
}

.nav__link:hover {
    background-color: #ddd;
    color: black;
    border-radius: 10px;
}

.nav__link.active {
    background-color: #a60f2d;
    color: white;
    border-radius: 10px;
}

.nav__link.logout {
    background-color: #1f1f1f;
    color: #fff;
    border-radius: 10px;
}

/* FOR LOGGED VIEW */
.profile__picture--wrapper {
    height: 0px;
    width: 40px;
    margin-left: 16px;
}

.profile__picture {
    width: 100%;
    border-radius: 50%;
}

/* WHO ARE WE */
.section__container {
    padding: 80px 0;
}

.section__row {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section__title {
    margin-bottom: 20px;

}

.section__para {
    margin-top: 20px;
    text-align:center;
    max-width: 600px;
    font-weight: 600;
}

.section__wrapper {
    display: flex;
}

.section__left {
    width: 50%;
}

.section__right {
    width: 50%;
}

.logo {
    width: 100%;
}

.gatherlab__logo {
    width: 50%;
    margin-top: 24px;
    padding-top: 24px;
}

/* VISION */

/* MISSION */

/* GALLERY */
#gallery {
    position: relative;
}
.gallery__wrapper {
    display: flex;
    margin: 48px;
}

.gallery__image--wrapper {
    position: relative;
    border-radius: 20px;
    box-shadow: 0 20px 80px 0 rgba(0,0,0,0.45);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery__image {
    max-width: 100%;
    border-radius: 12px;
    transition: all 600ms ease;
}

.gallery__image--wrapper:hover .gallery__image {
    transform: scale(1.07);
}


/* FOOTER */
footer {
    background-color: #1f1f1f;
}

.footer__logo {
    text-align: center;
    color: #fff;
}

.gciConnect__logo{
    color: #A60F2D;
}

.footer__wrapper {
    margin: 50px 0;
}

.footer__link {
    color: #fff ;
    font-weight: 600;
    padding: 0 8px;
}

.footer__link:hover {
    text-decoration: underline ;
}

.footer__list {
    margin: 20px 0 24px 0 ;
    display: flex;
    justify-content: center;
}

/* SHAPES */

.shape {
    position: absolute;
    opacity: 1;
    max-width: 150px;
    max-height: 150px;
    z-index: 1;
}


.shape--0 {
    top: 20vh;
    left: 85vw;
}

.shape--1 {
    top: 70vh;
    left: 8vw;
}

@media screen and (max-width: 768px) {
    .nav__link {
        font-size: 16px;
        margin: 8px;
        padding: 4px;
    }

    .shape {
        opacity: 0.3;
        max-width: 120px;
        max-height: 120px;
      }
      
      .shape--0 {
        top: 15vh;
        left: 70vw;
      }
      
      .shape--1 {
        top: 50vh;
        right: 5vw;
      }
      
}

@media screen and (max-width: 480px) {
    .nav__container {
        flex-direction: column;
        align-items: center;
    }
    .nav__links {
        margin-top: 20px;
    }
    .nav__link {
        font-size: 8px;
        margin: 8px;
        padding: 4px;
    }

    .shape {
        opacity: 0.3;
        max-width: 120px;
        max-height: 120px;
      }
      
      .shape--0 {
        top: 15vh;
        left: 70vw;
      }
      
      .shape--1 {
        top: 50vh;
        right: 5vw;
      }
      
}