@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.crimson {
    color: #A60F2D;
}

.ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

input, textarea {
    width: 100%;
    background: #A60F2D;
    color: #fff;
    outline: none;
    border: 1px solid #c0c4cc;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 40px;
    transition: all 300ms ease;
}

textarea {
    resize: vertical;
    height: 100px;
    margin-top: 8px;
}

label {
    font-size: 14px;
    font-weight: bold;
}

input:hover, textarea:hover {
    border-color: #ca1237;
}

input:focus, textarea:focus {
    border-color: #000;
}


a {
    text-decoration: none; 
}

h1 {
    font-size: 48px;
    font-weight: 700; 
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__container {
    width: 100%;
    max-width: 1800px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

nav {
    height: 80px;
    display: flex;
}

.nav__links {
    z-index: 2;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 8px;
    color: #000;
}

.nav__link:hover {
    color: #ca1237;
    text-decoration: underline;
}

/* CONTACT US */
.section__container {
    padding: 80px 0;
}

.section__row {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* FOR LOGGED VIEW */
.profile__picture--wrapper {
    height: 0px;
    width: 40px;
    margin-left: 16px;
}

.profile__picture {
    width: 100%;
    border-radius: 50%;
}

/* CONTACT */
.contact__wrapper {
    display: flex;
    max-width: 1200px;
    height: 700px;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.45);
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
    transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}

.contact__half {
    width: 50%;
    padding: 40px 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border-radius: 20px;
}

.contact__left {
    background-color: #fff;
}

.contact__title {
    font-size: 26px;
}

.contact__para {
    margin-bottom: 12px;
    line-height: 1.75;
}

.contact__right {
    background-color: #A60F2D;
    color: #fff; 
}

.contact__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.contact__overlay--visible {
    z-index: 1;
    display: flex;
}

.contact__overlay--loading {
    background-color: #242424;
    font-size: 80px;
}

.contact__overlay--success {
    background-color: green;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 28px;
}

.fa-spinner {
    animation: spinner 750ms infinite linear;
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }    
}

.form__item {
    margin-bottom: 20px;
}

.form__submit {
    background-color: #fff;
    border: 2px solid #A60F2D;
    color: #A60F2D;
    font-weight: 700;
    width: 100%;
    max-width: 240px;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 20px;
}

.form__submit:hover {
    border-color: #fff;
    color: #fff;
    background-color: transparent;
}

.form__submit:active {
    border-color: #ca1237;
    color: #ca1237;
}

/* FOOTER */
footer {
    background-color: #1f1f1f;
}

.footer__logo {
    text-align: center;
    color: #fff;
}

.gciConnect__logo{
    color: #A60F2D;
}

.footer__wrapper {
    margin: 50px 0;
}

.footer__link {
    color: #fff ;
    font-weight: 600;
    padding: 0 8px;
}

.footer__link:hover {
    text-decoration: underline ;
}

.footer__list {
    margin: 20px 0 24px 0 ;
    display: flex;
    justify-content: center;
}
