@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box !important;
    font-family: "Montserrat", sans-serif !important;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.crimson {
    color: #A60F2D !important;
}

.ubuntu {
    font-family: 'Ubuntu', sans-serif !important;
}


a {
    text-decoration: none !important; 
}

h1 {
    font-size: 48px !important;
    font-weight: 700 !important; 
}

ul {
    display: flex !important;
}

li {
    list-style-type: none !important;
}

#landing {
    background-color: #000;
    overflow: hidden;
}

.nav__container {
    width: 100%;
    max-width: 1800px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

nav {
    height: 80px;
    display: flex;
}

.nav__links {
    padding-top: 20px;
    z-index: 2;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 8px;
    color: #fff !important;
}

.nav__link:hover {
    color: #ca1237 !important;
    text-decoration: underline !important;
}

.header__container {
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header__description {
    color: #fff;
    font-size: 48px;
    z-index: 2;
    position: absolute;
}

.section__container {
    padding: 80px 0;
}

.section__row {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

button {
    cursor: pointer;
    background-color: #ca1237;
    color: white;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    font-weight: 600;
}

button:hover {
   opacity: 0.8; 
   transition: all 300ms ease;
}

/* CAROUSEL */
#landing__carousel {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
}

.landing__container {
    position: relative;
}

.image__wrapper {
    position: relative;
    /* border-radius: 20px; */
    /* box-shadow: 0 20px 80px 0 rgba(0,0,0,0.45); */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    /* max-width: 100vh; */
    filter: blur(6px);
}



/* QUOTE */
#quotes {
    background-color: white;
    border-color: #000;
    padding: 50px 0;
}

.quotes__title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gciConnect__logo {
    color: #fff;
    font-size: 28px;
    font-weight: 700 !important;
}

.logo__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* GALLERY */
#gallery {
    background-color: #4d4d4d;
}

.gallery__wrapper {
    display: flex;
}

.gallery__title {
    color: #fff;
    margin-bottom: 20px;
}

.gallery__left {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.gallery__button {
    padding: 12px 80px;
}


.gallery__right {
    width: 60%;
}

.gallery__image {
    max-width: 512px;
    border-radius: 12px;
}

/* GET INVOLVED */
#get-involved {
    background-color: #fff;
}

.get-involved__button {
    padding: 16px 96px;
    margin-bottom: 50px;
}

.get-involved__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.get-involved__title {
    margin-top: 50px;
    margin-bottom: 40px;
}


/* FOOTER */
footer {
    background-color: #1f1f1f;
}

.footer__wrapper {
    margin: 50px 0;
}

.footer__link {
    color: #fff !important;
    font-weight: 600;
    padding: 0 8px;
}

.footer__link:hover {
    text-decoration: underline !important;
}

.footer__list {
    margin: 20px 0 24px 0 ;
    display: flex;
    justify-content: center;
}
