@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

/* basic initlization for the body of the html file */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

/* makes sure that everything within this class stays in the middle */ 
.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

/* create the square shape */
.square {
    position: relative;
    width: 70vmin;
    background-color: #4d4d4d;
    box-sizing: border-box;
    border-radius: 15px;
    padding-top: 50px;
  }

/* :after does this after the initial element */
.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  
/* the content of the page */
.content {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  

/* hold the image for the login icon */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }

/* creates the circle shape for the login*/ 
img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  

/* input box for the username and login along with styling */
input[type=text] {
    width: 65%;
    padding: 10px 10px;
    margin: 18px 78px;
    box-sizing: border-box;
    border: 2px;
    border-radius: 15px;
  }
  
  button {
    background-color: #a60f2d ;
    color: white;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
/* shifts the button over to be in the center of the square*/
.buttonshift{
    padding-top: 0px;
    padding-left: 20px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

/* changes the opacity of the button when the cursor is resting on it */
button:hover {
    opacity: 0.8;
}
  
.signin{
    text-align: center;
    font-family: Ubuntu;
    font-size: 15px;
    padding-bottom: 15px;
  }

.space{
    padding-top: 20px;
  }