@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

* {box-sizing: border-box;}

body { 
    margin: 0;
    font-family: Ubuntu;
  }


  .header {
    overflow: hidden;
    background-color: #fff;
    padding: 20px 10px;
  }


/* default styling for characters within a tag */
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  

/* the design for the element on the left hand side*/

  .header a.logo {
    font-size: 40px;
    font-weight: bold;
    color: #a60f2d;
  }

/* changes the color of the button when the cursor is hovering over the element */
  
 .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
/* colors the tab that is currently active */
  .header a.active {
    background-color: gray;
    color: white;
  }
  
/* pushes header to the right*/
.header-right {
    float: right;
  }

  .header-middle {
    text-align: center;
    color: white;
  }

  .body1{
    text-align: center;
    padding-top: 100px;
    font-size: 40px;
  }

  .body2{
    padding-left: 80px;
    padding-top: 20px;
    font-size: 24px;
    padding-bottom: 20px;
  }

  .body3{
    text-align: center;
    padding-top: 100px;
    font-size: 12px;
    padding-bottom: 30px;
  }

  .buttonshift{
    padding-top: 0px;
    padding-left: 20px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button {
    background-color: #a60f2d;
    color: white;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Ubuntu;
  }

  .separator{
    padding-bottom: 50px;
  }
  
  footer {
    padding-bottom: 200px;
    text-align: center;
    padding: 3px;
    background-color: #2b2b2b ;
    color: white;
    height: 200px;
  }