@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    background-color: white;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Add padding to containers */
  .container {
    padding: 20px;
    background-color: #4d4d4d;
    height: 650px;
    border-radius: 15px;

  }
  
  .square {
    position: relative;
    width: 70vmin;
    background-color: #4d4d4d;
    box-sizing: border-box;
    border-radius: 15px;
    padding-top: 50px;
  }

/* :after does this after the initial element */
.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 90%;
    height: 40px;
    padding: 15px;
    margin: 5px 10px 22px 0;
    display: inline-block;
    border: none;
    border-radius: 15px;
    background: white;

  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: white;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #B6B7BC;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  button {
    background-color: #ca1237;
    color: white;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .buttonshift{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Add a red text color to links */
  a {
    color: #a60f2d;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }

  .space{
    padding-top: 20px;
    text-align: center;
  }

  .space2{
    padding-left: 200px;
  }

  .space3{
    padding-bottom: 200px;
  }

  
  body {
    font-family: "Montserrat", sans-serif;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .text{
    padding-top: 50px;
    padding-bottom: 60px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: bolder;

  }

  .text2{
    color: white;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }

  .text3{
    color: white;
    font-family: "Montserrat", sans-serif;
  }

    /*drop down button styling*/

    .dropbtn {
      width: 60%;
      padding: 12px 10px;
      margin: 18px 78px;
      box-sizing: border-box;
      border: 2px;
      border-radius: 15px;
      justify-content: center;
      background-color: white;
      color: #4d4d4d ;
    }
    
    .dropdown1 {
      position: relative;
      display: inline-block;
      width: 85%; 
      margin-left: 12px;
  
    }
    
    .dropdown2 {
      position: relative;
      display: inline-block;
      width: 85%; 
  
    }
    /*content styling from dropdown menu*/
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 100px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
  
    /*text styling for content*/
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
  
    /*hover*/
    
    .dropdown-content a:hover {background-color: #f1f1f1}
    
    .dropdown:hover .dropdown-content {
      display: block;
      justify-content: center;
    }
    
    .dropdown:hover .dropbtn {
      background-color:#d2d2d2;
    }

    .dropdown-spacing{
      padding-top: 410px;
      justify-content: center;
      padding-left: 20px;
    }

  