@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

h2, h3 {
  margin: 10px;
}

/*establish body of html file*/

body {
  margin: 0;
  background-color: #d2d2d2;
}

.header {
  overflow: hidden;
  background-color: #fff;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 40px;
  font-weight: bold;
  color: #a60f2d;
}

.header_logo {
  height: 8vh;
  margin-left: 20px;
}

.logo__wrapper {
  display: flex;
  align-items: center;
}

/* changes the color of the button when the cursor is hovering over the element */

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: gray;
  color: white;
}

.header-right {
  float: right;
}

.header-middle {
  text-align: center;
  color: white;
}

/* Styling the Body element i.e. Color,
        Font, Alignment */
body {
  background-color: white;
  text-align: center;
}

/* Styling the Form (Color, Padding, Shadow) */
form {
  background-color: #fff;
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

/* Styling form-control Class */
.form-control {
  text-align: left;
  margin-bottom: 25px;
}

/* Styling form-control Label */
.form-control label {
  display: block;
  margin-bottom: 10px;
}

/* Styling form-control input,
      select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
  border: 1px solid #777;
  border-radius: 15px;
  padding: 10px;
  display: block;
  width: 95%;
}

/* Styling form-control Radio
      button and Checkbox */
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
  display: inline-block;
  width: auto;
  border-radius: 15px;
}

/* Styling Button */
button {
  background-color: #a60f2d;
  border: 1px solid #777;
  border-radius: 15px;
  font-family: inherit;
  font-size: 21px;
  display: block;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}


.body1 {
  text-align: center;
  padding-top: 10px;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

.body3 {
  padding-left: 80px;
  padding-top: 20px;
  font-size: 10px;
  padding-bottom: 20px;
  text-align: center;
}

.body2 {
  text-align: center;
  padding-top: 0px;
  font-size: 12px;
  padding-bottom: 30px;
  font-family: "Montserrat", sans-serif;
}

button {
  cursor: pointer;
  background-color: #ca1237;
  color: white;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  font-weight: 600;
  padding: 12px 24px;
}

button:hover {
  opacity: 0.8;
  transition: all 300ms ease;
}

html {
  scroll-behavior: smooth;
}

.crimson {
  color: #a60f2d;
}

.ubuntu {
  font-family: "Ubuntu", sans-serif;
}

/* FOR LOGGED VIEW */
.profile__picture--wrapper {
  height: 0px;
  width: 40px;
  margin-left: 16px;
}

.profile__picture {
  width: 100%;
  border-radius: 50%;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.nav__container {
  width: 100%;
  max-width: 1400px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

nav {
    height: 80px;
    display: flex;
}

.nav__links {
    z-index: 2;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 8px;
    color: #000;
}

.nav__link:hover {
    background-color: #ddd;
    color: black;
    border-radius: 10px;
}

.nav__link.active {
    background-color: #a60f2d;
    color: white;
    border-radius: 10px;
}

.nav__link.logout {
  background-color: #1f1f1f;
  color: #fff;
  border-radius: 10px;
}

.section__container {
  padding: 80px 0;
}

.section__wrapper {
  flex-direction: column;
  display: flex;
}

.form__wrapper {
  text-align: left;
  justify-content: space-between;
}
 

input, select, textarea {
  outline: none;
  border: 1px solid #c0c4cc;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 20px;
}

label{
  vertical-align: middle;
}
<<<<<<< HEAD
textarea {
  resize: vertical;
  margin-top: 8px;
}
=======
>>>>>>> cbb7bd93f94b2269522fd160c60b8ffe6e45b32d

.question-label {
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  margin: 10px 0;
}

.section__row {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* CONFIRMATION MESSAGE */
#submitsurvey form {
  box-shadow: none;
}

#submitsurvey .section__container {
  padding: 80px 0;
}

#submitsurvey .section__row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#submitsurvey .section__title {
  color: #a60f2d;
  font-size: 48px;
  margin: 20px;
  text-align: center;
}

#submitsurvey .section__para {
  margin: 20px;
  text-align: center;
  max-width: 600px;
  font-weight: 600;
}

#submitsurvey .button__wrapper{
  margin: 20px;
}

#submitsurvey .submit__button {
  padding: 12px 80px;
}

/* FOOTER */
footer {
  background-color: #1f1f1f;
}

.footer__container {
  padding: 80px 0;
}

.footer__row {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gciConnect__logo {
  color: #a60f2d;
}

.footer__logo .gciConnect__logo {
  color: #fff;
}

.gcisl__logo {
  margin-left: 20px;
  max-width: 35%;
  width: 100%;
}

.footer__wrapper {
  margin: 50px 0;
}

.footer__link {
  color: #fff;
  font-weight: 600;
  padding: 0 8px;
}

.footer__list {
  margin: 20px 0 24px 0;
  display: flex;
  justify-content: center;
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect::after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  background-color: black;
  transition: all 300ms ease;
}

.link__hover-effect:hover::after {
  left: 0;
  width: 100%;
}

.link__hover-effect--white::after {
  background-color: #fffbf8;
}


/* Add your CSS styles here */
/* Example styles */
body {
  font-family: Ubuntu;
}

.form-control {
  margin-bottom: 20px;
  width: 100%;
}

.question-label {
  font-weight: bold;
}

.add-question {
  margin-top: 10px;
  width: 20%;
  height: 20%;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}


.add-choice {
  margin-top: 10px;
  width: 20%;
  height: 20%;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

.choices {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  border-radius: 15px;
  text-align: left;
  margin-bottom: 25px;
}

.choice-input {
  padding-left: 10px;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  border-radius: 15px;
  width: 40%;
  height: 35px;
  margin-right: auto; /* Add this line to move them to the left */
}

/* RESPONSES */
.responses__table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  justify-content: center;
  text-align: center;
  align-items: center;
  border: none;
}

thead tr {
  background-color: #ca1237;
  color: #ffffff;
  text-align: left;
}

th, td {
  padding: 20px 24px;
  font-size: 16px;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #ca1237;
}

/* table {
  padding: 10px;
  border: #fff;
}

th {
  background-color: #A60F2D;
  color: #fff;
}


thead, th, tbody, tr, td {
  padding: 10px;
} */

/* ... Add more styles as needed ... */

/* RESPONSIVE DESIGN */
@media screen and (max-width: 1024px) {
  nav {
    height: auto;
  }

  .nav__container {
    flex-direction: column;
    align-items: center;
  }

  .nav__links {
    margin: 20px;
  }

  .nav__link {
    font-size: 16px;
    margin-left: 12px;
    padding: 4px;
  }

  .profile__picture--wrapper {
    margin-left: 12px;
  }

  .section__row {
    max-width: 100vw;
    display: block;
  }

  .contact__wrapper {
    flex-direction: column;
    height: 70vh;
    max-width: 100vw;
  }

  .contact__half {
    width: 100%;
  }

  .contact__left {
    width: 100%;
    text-align: center;
  }

  .contact__right {
    width: 100%;
    height: 100vh;
  }

  .contact__title {
    font-size: 48px;
    margin-bottom: 10px;
  }

  .contact__para {
    font-size: 20px;
    font-weight: 600;
  }
}

@media screen and (max-width: 550px) {
  .logo__wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .nav__container {
    flex-direction: column;
    align-items: center;
  }

  .nav__links {
    margin-top: 20px;
  }

  .nav__link {
    font-size: 8px;
    margin: 8px;
    padding: 4px;
  }

  .profile__picture--wrapper {
    margin-left: 8px;
  }

  .section__row {
    max-width: 100vw;
  }

  .section__container {
    padding: 40px 0;
  }

  .contact__wrapper {
    flex-direction: column;
    height: 100vh;
  }

  .contact__half {
    width: 100%;
  }
  .contact__left {
    width: 100%;
  }

  .contact__right {
    width: 100%;
    height: 100vh;
  }

  h1 {
    font-size: 36px;
  }
}

@media screen and (max-width: 450px) {
  .nav__container {
      flex-direction: column;
      align-items: center;
  }

  .nav__links {
      margin-top: 20px;
  }

  .nav__link {
      font-size: 8px;
      margin: 8px;
      padding: 4px;
  }

  h1 {
    font-size: 36px !important;
    font-weight: 700 !important;
  }
}
