<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/static/css/about.css" />
</head>
<body>
    <section id="about">
        <nav>
            <div class="nav__container">
                <div class="logo__wrapper">
                    <a href="#">
                      <h1 class="gciConnect__logo ubuntu">gciConnect!</h1>
                    </a>
                  </div>
                <ul class="nav__links">
                    <li class="nav__link">Get Involved!</li>
                    <li class="nav__link">Contact Us</li>
                    <li class="nav__link">About</li>
                    <li class="nav__link">Log in</li>
                </ul>
            </div>
        </nav>
    </section>

    <section id="who-are-we">
        <div class="section__container">
            <div class="section__row">
                <h1 class="section__title">Who are we?</h1>
                <div class="section__wrapper">
                    <div class="section__right">
                        <p class="section__para">Initiated by the Granger Cobb Institute of Senior Living, bringing connectivity and creating impact, gciConnect! is a platform that focuses in bringing impact to the senior living community.</p>
                    </div>
                    <div class="section__row--left">
                        <figure class="logo__wrapper">
                            <img src="/static/assets/logo/GCISL_logo_fullcolor.png" alt="" class="logo">
                        </figure>
                    </div>
                </div>
                
                
            </div>
        </div>
    </section>

    <section id="vision">
        <div class="section__container">
            <div class="section__row">
                <h1 class="section__title">Vision</h1>
                <p class="section__para">Washington State University’s vision is to be one of the nation’s leading land-grant universities, preeminent in research and discovery, teaching, and engagement. WSU is committed to the pursuit of inquiry and discovery in all WSU disciplines; and to the creation and dissemination of knowledge for the public good.</p>
            </div>
        </div>
    </section>

    <section id="mission">
        <div class="section__container">
            <div class="section__row">
                <h1 class="section__title">Mission</h1>
                <p class="section__para">gciConnect! embodies WSU’s vision to improve the quality of life of older adults, their families, and people who support them.</p>
            </div>
        </div>
    </section>

    <section id="gallery">
        <div class="section__container">
            <div class="section__row">
                <h1 class="section__title">Gallery</h1>
                <p class="section__para"></p>
            </div>
        </div>
    </section>

    <footer>
        <div class="section__container">
          <div class="section__row">
            <div class="footer__wrapper">
              <div class="footer_logo--wrapper>
                <a href="#">
                  <h1 class="footer__logo ubuntu">gciConnect!</h1>
                </a>
              </div>
              <div class="footer__list">
                <a href="/templates/getinvolved.html" class="footer__link">Get Involved!</a>
                <a href="/templates/contact.html" class="footer__link">Contact Us</a>
                <a href="/templates/about.html" class="footer__link">About</a>
              </div>
            </div>
          </div>
        </div>
      </footer>
    
</body>
</html>