{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}" />
  </head>
  <style>
    .section__para {
      margin-top: 20px;
      text-align:center;
      max-width: 600px;
      font-weight: 600;
      font-size: 20px;
    }

    .gatherlab__logo {
      width: 50%;
      margin-top: 24px;
      padding-top: 24px;
      text-align: center;
    }

  </style>
  <body>
    <section id="about">
      <nav>
        <div class="nav__container">
          <a href="/" class="logo__wrapper">
            <h1 class="gciConnect__logo ubuntu">gciConnect!</h1>
            <img
              src="{% static 'assets/logo/GCISL_logo_fullcolor.png' %}"
              alt=""
              class="header_logo"
            />
          </a>
          <ul class="nav__links">
            {% if user.is_superuser or user.is_staff %}
            <li><a href="/admin" class="nav__link">Admin</a></li>
            <li>
              <a href="/survey/editor/" class="nav__link"
                >Survey Manager</a
              >
            </li>
            <li>
              <a href="/get_involved/" class="nav__link">Get Involved!</a>
            </li>
            <li><a href="/about" class="nav__link active">About</a></li>
            <li><a href="/logout" class="nav__link logout">Logout</a></li>
          </ul>
            {% else %}
              <li><a href="/get_involved/" class="nav__link">Get Involved!</a></li>
              <li><a href="/contact" class="nav__link">Contact Us</a></li>
              <li><a href="/about" class="nav__link active">About</a></li>
              <li><a href="/logout" class="nav__link logout">Logout</a></li>
            {% endif %}
        </div>
      </nav>
    </section>

    <section id="who-are-we">
      <div class="section__container">
        <div class="section__row">
          <h1 class="section__title">Who are we?</h1>
          <div class="section__wrapper">
            <div class="section__left">
              <br />
              <p class="section__para">
                Initiated by the Granger Cobb Institute of Senior Living,
                bringing connectivity and creating impact, gciConnect! is a
                platform that focuses in bringing impact to the senior living
                community.
              </p>
              <br />
            </div>
            <div class="section__right">
              <figure class="logo__wrapper">
                <img
                  src="{% static 'assets/logo/GCISL_logo_fullcolor.png' %}"
                  alt=""
                  class="about__logo"
                />
              </figure>
            </div>
          </div>
          <br />
        </div>
      </div>
    </section>

    <section id="vision">
      <div class="section__container">
        <div class="section__row">
          <h1 class="section__title">Vision</h1>
          <p class="section__para">
            Washington State University’s vision is to be one of the nation’s
            leading land-grant universities, preeminent in research and
            discovery, teaching, and engagement. WSU is committed to the pursuit
            of inquiry and discovery in all WSU disciplines; and to the creation
            and dissemination of knowledge for the public good.
          </p>
        </div>
      </div>
    </section>

    <section id="mission">
      <div class="section__container">
        <div class="section__row">
          <h1 class="section__title">Mission</h1>
          <p class="section__para">
            gciConnect! embodies WSU’s vision to improve the quality of life of
            older adults, their families, and people who support them.
          </p>
        </div>
      </div>
    </section>

    <section id="gallery">
      <div class="section__container">
        <div class="section__row">
          <h1 class="section__title">Gallery</h1>
          <p class="section__para"></p>
          <div class="gallery__wrapper">
            <div class="gallery__image--wrapper">
              <img
                src="{% static 'assets/relative pictures/16.JPG' %}"
                alt=""
                class="gallery__image"
              />
              <div class="gallery__wrapper--background"></div>
            </div>
          </div>
          <div class="gallery__wrapper">
            <div class="gallery__image--wrapper">
              <img
                src="{% static 'assets/relative pictures/2.png' %}"
                alt=""
                class="gallery__image"
              />
              <div class="gallery__wrapper--background"></div>
            </div>
          </div>
          <div class="gallery__wrapper">
            <div class="gallery__image--wrapper">
              <img
                src="{% static 'assets/relative pictures/4.png' %}"
                alt=""
                class="gallery__image"
              />
              <div class="gallery__wrapper--background"></div>
            </div>
          </div>
          <div class="gallery__wrapper">
            <div class="gallery__image--wrapper">
              <img
                src="{% static 'assets/relative pictures/5.png' %}"
                alt=""
                class="gallery__image"
              />
              <div class="gallery__wrapper--background"></div>
            </div>
          </div>
          <div class="gallery__wrapper">
            <div class="gallery__image--wrapper">
              <img
                src="{% static 'assets/relative pictures/6.png' %}"
                alt=""
                class="gallery__image"
              />
              <div class="gallery__wrapper--background"></div>
            </div>
          </div>
          <div class="gallery__wrapper">
            <div class="gallery__image--wrapper">
              <img
                src="{% static 'assets/relative pictures/7.png' %}"
                alt=""
                class="gallery__image"
              />
              <div class="gallery__wrapper--background"></div>
            </div>
          </div>
          <div class="gallery__wrapper">
            <div class="gallery__image--wrapper">
              <img
                src="{% static 'assets/relative pictures/10.png' %}"
                alt=""
                class="gallery__image"
              />
              <div class="gallery__wrapper--background"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <footer>
      <div class="footer__container">
        <div class="footer__row">
          <div class="footer__wrapper">
              <a href="/" class="footer__logo">
                <h1 class="gciConnect__logo ubuntu">gciConnect!</h1>
                <img src="{% static 'assets/logo/GCISL_logo_white.png' %}" alt="" class="gcisl__logo"/>
              </a>
              <div class="footer__list">
                {% if user.is_superuser or user.is_staff %}
                  <a href="/survey/editor" class="footer__link link__hover-effect link__hover-effect--white">Survey Manager</a>
                  <a href="/get_involved" class="footer__link link__hover-effect link__hover-effect--white">Get Involved!</a>
                  <a href="/about" class="footer__link link__hover-effect link__hover-effect--white">About</a>
                {% else %}
                  <a href="/get_involved" class="footer__link link__hover-effect link__hover-effect--white">Get Involved!</a>
                  <a href="/contact" class="footer__link link__hover-effect link__hover-effect--white">Contact Us</a>
                  <a href="/about" class="footer__link link__hover-effect link__hover-effect--white">About</a>
                {% endif %}
              </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
