<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/static/css/about.css" />
  </head>
  <body>
    <section id="about">

      <nav>
        <div class="nav__container">
          <div class="logo__wrapper">
            <a href="/">
              <h1 class="gciConnect__logo ubuntu">gciConnect!</h1>
            </a>
          </div>
          <ul class="nav__links">
            <li><a href="/get_involved" class="nav__link">Get Involved!</a></li>
            <li><a href="/contact" class="nav__link">Contact Us</a></li>
            <li><a href="/about" class="nav__link active">About</a></li>
            <li><a href="/login" class="nav__link">Log in</a></li>
          </ul>
        </div>
      </nav>
      <img
        src="/static/assets/general/circle.svg"
        alt=""
        class="shape shape--0"
      />
      <img
        src="/static/assets/general/circle.svg"
        alt=""
        class="shape shape--1"
      />
    </section>

    <section id="who-are-we">
      <div class="section__container">
        <div class="section__row">
          <h1 class="section__title">Who are we?</h1>
          <div class="section__wrapper">
            <div class="section__right">
              <p class="section__para">
                Initiated by the Granger Cobb Institute of Senior Living,
                bringing connectivity and creating impact, gciConnect! is a
                platform that focuses in bringing impact to the senior living
                community.
              </p>
            </div>
            <div class="section__row--left">
              <figure class="logo__wrapper">
                <img
                  src="/static/assets/logo/GCISL_logo_fullcolor.png"
                  alt=""
                  class="logo"
                />
              </figure>
            </div>
          </div>
          <div class="gatherlab__logo">
            <a
              href="https://hd.wsu.edu/research-labs/gather-lab/"
              target="_blank"
            >
              <figure class="logo__wrapper">
                <img
                  src="/static/assets/logo/GatherLab_logo.png"
                  alt=""
                  class="logo"
                />
              </figure>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section id="vision">
      <div class="section__container">
        <div class="section__row">
          <h1 class="section__title">Vision</h1>
          <p class="section__para">
            Washington State University’s vision is to be one of the nation’s
            leading land-grant universities, preeminent in research and
            discovery, teaching, and engagement. WSU is committed to the pursuit
            of inquiry and discovery in all WSU disciplines; and to the creation
            and dissemination of knowledge for the public good.
          </p>
        </div>
      </div>
    </section>

    <section id="mission">
      <div class="section__container">
        <div class="section__row">
          <h1 class="section__title">Mission</h1>
          <p class="section__para">
            gciConnect! embodies WSU’s vision to improve the quality of life of
            older adults, their families, and people who support them.
          </p>
        </div>
      </div>
    </section>

    <section id="gallery">
      <div class="section__container">
        <div class="section__row">
          <h1 class="section__title">Gallery</h1>
          <p class="section__para"></p>
          <div class="gallery__wrapper">
            <div class="gallery__image--wrapper">
              <img
                src="/static/assets/relative pictures/1.png"
                alt=""
                class="gallery__image"
              />
              <div class="gallery__wrapper--background"></div>
            </div>
          </div>
          <div class="gallery__wrapper">
            <div class="gallery__image--wrapper">
              <img
                src="/static/assets/relative pictures/2.png"
                alt=""
                class="gallery__image"
              />
              <div class="gallery__wrapper--background"></div>
            </div>
          </div>
          <div class="gallery__wrapper">
            <div class="gallery__image--wrapper">
              <img
                src="/static/assets/relative pictures/3.png"
                alt=""
                class="gallery__image"
              />
              <div class="gallery__wrapper--background"></div>
            </div>
          </div>
          <div class="gallery__wrapper">
            <div class="gallery__image--wrapper">
              <img
                src="/static/assets/relative pictures/4.png"
                alt=""
                class="gallery__image"
              />
              <div class="gallery__wrapper--background"></div>
            </div>
          </div>
          <div class="gallery__wrapper">
            <div class="gallery__image--wrapper">
              <img
                src="/static/assets/relative pictures/5.png"
                alt=""
                class="gallery__image"
              />
              <div class="gallery__wrapper--background"></div>
            </div>
          </div>
          <div class="gallery__wrapper">
            <div class="gallery__image--wrapper">
              <img
                src="/static/assets/relative pictures/6.png"
                alt=""
                class="gallery__image"
              />
              <div class="gallery__wrapper--background"></div>
            </div>
          </div>
          <div class="gallery__wrapper">
            <div class="gallery__image--wrapper">
              <img
                src="/static/assets/relative pictures/7.png"
                alt=""
                class="gallery__image"
              />
              <div class="gallery__wrapper--background"></div>
            </div>
          </div>
          <div class="gallery__wrapper">
            <div class="gallery__image--wrapper">
              <img
                src="/static/assets/relative pictures/8.png"
                alt=""
                class="gallery__image"
              />
              <div class="gallery__wrapper--background"></div>
            </div>
          </div>
          <div class="gallery__wrapper">
            <div class="gallery__image--wrapper">
              <img
                src="/static/assets/relative pictures/9.png"
                alt=""
                class="gallery__image"
              />
              <div class="gallery__wrapper--background"></div>
            </div>
          </div>
          <div class="gallery__wrapper">
            <div class="gallery__image--wrapper">
              <img
                src="/static/assets/relative pictures/10.png"
                alt=""
                class="gallery__image"
              />
              <div class="gallery__wrapper--background"></div>
            </div>
          </div>
          <div class="gallery__wrapper">
            <div class="gallery__image--wrapper">
              <img
                src="/static/assets/relative pictures/11.png"
                alt=""
                class="gallery__image"
              />
              <div class="gallery__wrapper--background"></div>
            </div>
          </div>
        </div>
      </div>
      <img
        src="/static/assets/general/circle.svg"
        alt=""
        class="shape shape--0"
      />
      <img
        src="/static/assets/general/circle.svg"
        alt=""
        class="shape shape--1"
      />
    </section>

    <footer>
      <div class="section__container">
        <div class="section__row">
          <div class="footer__wrapper">
            <div class="footer_logo--wrapper">
              <a href="/">
                <h1 class="footer__logo ubuntu">gciConnect!</h1>
              </a>
            </div>
            <div class="footer__list">
              <a href="/get_involved" class="footer__link">Get Involved!</a>
              <a href="/contact" class="footer__link">Contact Us</a>
              <a href="/about" class="footer__link">About</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
