<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/static/css/about.css" />
</head>
<body>
    <section id="about">
        <nav>
            <div class="nav__container">
                <div class="logo__wrapper">
                    <a href="#">
                      <h1 class="gciConnect__logo ubuntu">gciConnect!</h1>
                    </a>
                  </div>
                <ul class="nav__links">
                    <li class="nav__link">Get Involved!</li>
                    <li class="nav__link">Contact Us</li>
                    <li class="nav__link">About</li>
                    <li class="nav__link">Log in</li>
                </ul>
            </div>
        </nav>
    </section>
    
</body>
</html>