<!-- base.html file -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to gciConnect!</title>
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
    <section id="landing">
        <nav>
            <div class="nav__container">
                <img src="" alt="" class="logo">
                <ul class="nav__links">
                    <li><a href="#" class="nav__link">Get Involved!</a></li>
                    <li><a href="#" class="nav__link">Contact Us</a></li>
                    <li><a href="#" class="nav__link">About</a></li>
                    <li><a href="#" class="nav__link">Log in</a></li>
                </ul>
            </div>
        </nav>
        <header>
            <div class="header__container">
                <div class="header__description">
                    <h1>Welcome to gciConnect!</h1>
                </div>
            </div>
        </header>
    </section>
    
</body>
</html>