<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us!</title>
    <link rel="stylesheet" href="/static/css/contact.css" />
</head>
<body>
    <section id="contact-us">
        <nav>
            <div class="nav__container">
                <div class="logo__wrapper">
                    <a href="./landing.html">
                      <h1 class="gciConnect__logo ubuntu">gciConnect!</h1>
                    </a>
                  </div>
                  <ul class="nav__links">
                    <li><a href="./getinvolved.html" class="nav__link">Get Involved!</a></li>
                    <li><a href="./contact.html" class="nav__link">Contact Us</a></li>
                    <li><a href="./about.html" class="nav__link">About</a></li>
                    <figure class="profile__picture--wrapper">
                      <img src="/static/assets/general/icon.png" alt="" class="profile__picture" id="profile-picture">
                    </figure>
                </ul>
            </div>
        </nav>
    </section>

    <section id="contact">
      <div class="section__container">
        <div class="section__row">
          <div class="contact__wrapper">
            <div class="contact__half contact__left">
              <h3 class="contact__title">Contact us!</h3>
              <p class="contact__para">
                Have questions or suggestions?
                <br>
                Please fill in this form to let our team know.
                <br>
                <br>
                We highly value your input.
              </p>
            </div>

            <div class="contact__half contact__right">
              <form id="contact__form">
                <div class="form__item">
                  <label class="form__item--label">Name*</label>
                  <input type="text" class="input" name="user_name" required></input>
              </div>
              <div class="form__item">
                  <label class="form__item--label">Email Address*</label>
                  <input type="email" class="input" name="user_email" required></input>
              </div>
              <div class="form__item">
                <label class="form__item--label">Phone Number*</label>
                <input type="text" class="input" name="user_phone" required></input>
            </div>
              <div class="form__item">
                  <label class="form__item--label">Message*</label>
                  <textarea type="text" class="input" name="message" required></textarea>
              </div>
              <button id="contact__submit" class="form__submit">Submit</button>
              </form>
            </div>

          </div>
        </div>
      </div>
    </section>
    
    <footer>
        <div class="section__container">
          <div class="section__row">
            <div class="footer__wrapper">
              <div class="footer_logo--wrapper>
                <a href="#">
                  <h1 class="footer__logo ubuntu">gciConnect!</h1>
                </a>
              </div>
              <div class="footer__list">
                <a href="/templates/getinvolved.html" class="footer__link">Get Involved!</a>
                <a href="/templates/contact.html" class="footer__link">Contact Us</a>
                <a href="/templates/about.html" class="footer__link">About</a>
              </div>
            </div>
          </div>
        </div>
      </footer>
    
</body>
</html>
</body>
</html>