<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Involved!</title>
    <link rel="stylesheet" href="/static/css/getinvolved.css" />
</head>
<body>
    <section id="get-involved">
        <nav>
            <div class="nav__container">
                <div class="logo__wrapper">
                    <a href="/">
                      <h1 class="gciConnect__logo ubuntu">gciConnect!</h1>
                    </a>
                  </div>
                  <ul class="nav__links">
                    <li><a href="/get_involved" class="nav__link">Get Involved!</a></li>
                    <li><a href="/contact" class="nav__link">Contact Us</a></li>
                    <li><a href="/about" class="nav__link">About</a></li>
                    <li><figure class="profile__picture--wrapper">
                      <img src="/static/assets/general/icon.png" alt="" class="profile__picture" id="profile-picture">
                    </figure></li>
                </ul>
            </div>
        </nav>
    </section>

    <section id="get-involved-now">
      <div class="section__container">
          <div class="section__row">
              <h1 class="section__title">Get Involved now!</h1>
                <p class="section__para">We’re glad you’re here! 
                  <br>
                  <br>
                  We currently have three exciting ways that you can get involved at WSU via gciConnect!
                  <br>
                  <br>
                  Check out the information below.
                  <br>
                  <br>
                  Contact us with additional questions or, if you’re ready to get involved, please complete our intake survey and we’ll follow up with you soon!
                  <br>
                  <br>
                  Thank you in advance for your time and important contributions. We look forward to working with you.</p>
              </div>
      </div>
  </section>

  <section class="research-involvement">
    <div class="section__container">
      <div class="section__row">
        <h1 class="section__title">Research Involvement</h1>
        <p class="section__para">
          1. The aging population has changed the landscape of our world! WSU researchers are actively working to answer many scientific questions about how we will adapt. Some of the questions are: 
          <br> 
          a. What are the best evidence-based practices for increasing healthspan? How will family relationships between older and younger generations be affected by increased longevity? How will we develop equitable policies and design and deliver services that best support older adults and their families? How will our communities adapt to an aging population? How can we support people to age with dignity? How can older adults stay engaged and connected? 
          <br>
          <br>
          2. These are critical questions as we look to the future because aging is the foundation for a healthy society! These are just a few of the questions WSU researchers are trying to answer. We need YOU! 
          <br>
          <br>
          3. Why should you be involved in gciCONNECT? 
          a. You have a unique chance to stand up and take action. Your participation helps others and contributes to moving science forward. You have the power to share your lived experiences and make a difference - take an active role in society. 
        </p>
      </div>
    </div>
  </section>

  <section class="teaching-mentorship-learning">
    <div class="section__container">
      <div class="section__row">
        <h1 class="section__title">Teaching, Mentorship, and Learning</h1>
        <p class="section__para">
          1. “Learn continually. There is always ‘one more thing’ to learn!” - Steve Jobs
          <br>
          <br>
          2. WSU’s educational mission is to help students become more aware, engaged, and creative. WSU strives to make its expertise available to anyone who seeks to benefit from it, regardless of where they live, where they come from, what they believe, or what their life experiences have been.
          <br>
          <br>
          3. gciCONNECT aims to support lifelong learning and intergenerational connections. 
          <br>
          a. Do you have special skills, knowledge, or background/training that you want to share with others? Do you want to connect with students to enhance their learning and stay engaged with a campus community? Sometimes faculty members may be looking for mentorship opportunities within their class, or guest speaker opportunities; or people to be interviewed for a class project. Are you interested in connecting with undergraduates? If so, we invite you to complete our intake survey and we’ll follow up with you! 
          <br>
          <br>
          4. Outreach and Support
          <br>
          Outreach: share your knowledge and experienceof working with the Granger Cobb Institute at Washington State University with your family & peers
          <br>
          Support: fund student scholarships or experiential learning projects
        </p>
      </div>
    </div>
  </section>

  <section id="get-started">
    <div class="section__container">
      <div class="section__row">
        <div class="get-started__wrapper">
          <h1 class="get-started__title">Ready to bring impact to the community?</h1>
          <h1 class="crimson get-started__title">Click the button below to start filling our survey!</h1>
          <button class="get-started__button">Take Survey</button>
        </div>
        
      </div>
    </div>

  </section>
    
    <footer>
        <div class="section__container">
          <div class="section__row">
            <div class="footer__wrapper">
              <div class="footer_logo--wrapper">
                <a href="/">
                  <h1 class="footer__logo ubuntu">gciConnect!</h1>
                </a>
              </div>
              <div class="footer__list">
                <a href="/get_involved" class="footer__link">Get Involved!</a>
                <a href="/contact" class="footer__link">Contact Us</a>
                <a href="/about" class="footer__link">About</a>
              </div>
            </div>
          </div>
        </div>
      </footer>
    
</body>
</html>