{% load static %}

<!-- base.html file -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to gciConnect!</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}" />
  </head>
  <body>
    <section id="landing">
      <nav>
        <div class="nav__container">
          <div class="logo__wrapper">
            <img src="{% static 'assets/logo/GCISL_logo_fullcolor.png' %}" alt="" class="header_logo"/>
          </div>
          <ul class="nav__links">
            <li>
              <a href="get_involved/" class="nav__link">Get Involved!</a>
            </li>
            <li><a href="contact/" class="nav__link">Contact Us</a></li>
            <li><a href="about/" class="nav__link">About</a></li>
            <li>
              <a href="login/" class="nav__link">Log in</a>
            </li>
          </ul>
        </div>
      </nav>

      <header>
        <div class="header__container">
          <div class="header__wrapper">
            <div
              id="landing__carousel"
              class="carousel slide"
              data-ride="carousel"
            >
            <div class="header__description">
              <h1>Welcome to <a class="crimson ubuntu">gciConnect!</a></h1>
              <p> gciConnect! is part of Washington State University’s (WSU) <a class = "link"
                href="https://business.wsu.edu/departments/hospitality/institute-for-senior-living/">Granger Cobb Institute</a>
                  for Senior Living (GCI) and serves as an innovative resource to keep the community
                  informed and connected to WSU. 
              </p>
              <br />
              <p>
                WSU’s GCI is among the few universities in the nation that offers a Senior Living Management major to:  
              </p>
              &bull; Promote the field of senior living management as a rewarding career path for students.
              <br />&bull; Partner with industry leaders to help maintain current evidence-based practices.
              <br />&bull; Help improve the quality of life for older adults in Washington and beyond.
              <br />
            </div>
              <ol class="carousel-indicators">
                <li
                  data-target="#landing__carousel"
                  data-slide-to="0"
                  class="active"
                ></li>
                <li data-target="#landing__carousel" data-slide-to="1"></li>
                <li data-target="#landing__carousel" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="image__wrapper">
                    <figure class="image__container--wrapper">
                      <img
                        src="{% static 'assets/relative pictures/1.jpg' %}"
                        alt=""
                        class="image"
                      />
                    </figure>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="image__wrapper">
                    <figure class="image__container--wrapper">
                      <img
                        src="{% static 'assets/relative pictures/13.JPG' %}"
                        alt=""
                        class="image"
                      />
                    </figure>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="image__wrapper">
                    <figure class="image__container--wrapper">
                      <img
                        src="{% static 'assets/relative pictures/15.JPG' %}"
                        alt=""
                        class="image"
                      />
                    </figure>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </header>
    </section>

    <main>
      <section id="quotes">
        <div class="section__container">
          <div class="section__row">
            <div class="quotes__title">
              <h1>"Age doesn't matter when it comes to helping others."</h1>
            </div>
          </div>
        </div>
      </section>

      <section id="gallery">
        <div class="section__container">
          <div class="section__row">
            <div class="gallery__wrapper">
              <div class="gallery__left">
                <h1 class="gallery__title">Gallery</h1>
                <form method="GET" action="/about/">
                  <button type="submit" class="gallery__button">
                    View more
                  </button>
                </form>
              </div>
              <div class="gallery__right">
                <div class="gallery__image--wrapper">
                  <img
                    src="{% static 'assets/relative pictures/10.png' %}"
                    alt=""
                    class="gallery__image"
                  />
                  <div class="gallery__wrapper--background"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="get-involved">
        <div class="section__container">
          <div class="section__row">
            <div class="get-involved__wrapper">
              <h1 class="get-involved__title">
                Interested in getting involved?
              </h1>
              <form method="GET" action="/get_involved/">
                <button type="submit" class="gallery__button">
                  Get Started
                </button>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="section__container">
        <div class="section__row">
          <div class="footer__wrapper">
              <a href="/" class="footer__logo">
                <h1 class="gciConnect__logo ubuntu">gciConnect!</h1>
                <img src="{% static 'assets/logo/GCISL_logo_white.png' %}" alt="" class="logo"/>
              </a>
              <div class="footer__list">
                <a href="/get_involved" class="footer__link link__hover-effect link__hover-effect--white">Get Involved!</a>
                <a href="/contact" class="footer__link link__hover-effect link__hover-effect--white">Contact Us</a>
                <a href="/about" class="footer__link link__hover-effect link__hover-effect--white">About</a>
              </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>