<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/projectGCISL/static/css/login.css">
    <title>Login</title>
</head>
<body>  
    <div class="container">
        <div class="square">
          <div class="content">
            <div class = "imgcontainer">
                <img class = "avatar" src="images/icon.png" alt="">
            </div>
            <label for="fname"></label>
            <input type="text" id="fname" name="fname" placeholder = "Username">
            <label for="lname"></label>
            <input type="text" id="lname" name="lname" placeholder = "Password">    
        </div>
      </div>
    </div> 
    <div class="signin">
        <p>Don't have an account? Sign up now!</p>
    </div>
    <div class = "buttonshift">
        <button type="submit">Login</button>
    </div>

</body>
</html>