{% load static %}

<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Login</title>
      <link rel="stylesheet" href="{% static 'css/login.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.1/css/bootstrap.min.css" integrity="sha512-YU6DRH0y3fUz+NCU8YwY6HtsGZfQ2lmc1AnQ2D+u5X9e5MQ5ct5S5+LS7Vv5mNNa4/bVJ/cbs4BNf6/0U6Xopg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   </head>
   <body>
      <div class="wrapper">
         <div class="title">
            Login Form
         </div>
         <form action="/login/" method="post">
          {% csrf_token %}
          {% for message in messages %}
            {{message}}
          {% endfor %}
            <div class="field">
               {{lform.email}}
            </div>
            <div class="field">
               {{lform.password}}  
            </div>
            <br />
            <div class="field">
              <input type="submit" value="Login">
           </div>
            <div class="signup-link">
               Not a member? <a href="/login/registration/">Signup now</a>
            </div>
         </form>
      </div>
   </body>
</html>