<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/registration.css">
    <title>Registration</title>
</head>
<body>
    <div class="header">
        <a href="#default" class="logo">gciConnect!</a>
        <div class="header-right">
          <a class="active" href="#home">Get Involved!</a>
          <a href="#contact">Contact Us</a>
          <a href="#about">About</a>
          <a href="#about">Log In</a>
        </div>
    </div>
    <div style="text-align: center">
        <h1>Please fill in the information below</h1>
        <p>Resize the browser window to see the effect.</p>
        <p>Some content..</p>
    </div>
</body>
</html>