<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/projectGCISL/static/css/survey.css">
    <title>Registration</title>
</head>
<body>
    <form action="/action_page.php">
        <div class="container">
            <div class="header">
                <a href="#default" class="logo">gciConnect!</a>
                <div class="header-right">
                  <a class="active" href="#home">Home</a>
                  <a href="#contact">About Us</a>
                  <a href="#about">FAQ</a>
                  <a href="#login">Contact</a>
                </div>
            </div>
          <h1>Information</h1>
          <p>Fill in the form to create your account!</p>
          <hr>
            
          <div class="column">
            <label for="fname"><b>First Name*</b></label>
            <input type="text" placeholder="First Name" name="fname" id="fname" required>
      
            <label for="lname"><b>Last Inital*</b></label>
            <input type="text" placeholder="Last Name" name="lname" id="lname" required>
          
            <label for="dob"><b>Age Range</b></label>
            <input type="text" placeholder="mm/dd/yyyy" name="dob" id="dob" required>
      
            <label for="location"><b>Location</b></label>
            <input type="text" placeholder="Location" name="location" id="location" required>
          </div>

          <div class="column">
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" id="email" required>
      
            <label for="user"><b>Create Usernmae</b></label>
            <input type="text" placeholder="Enter Username" name="user" id="user" required>
          
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
      
            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
          </div>
          
          <hr>
          <div class = "space">
            <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
          </div>
      
        </div>
        <div class = "buttonshift">
            <button type="submit">Register</button>
        </div>
      </form>
</body>
</html>