{% load static %}

<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Registration Form </title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{% static 'css/registration.css' %}">
   </head>
<body>
  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form action="" method = "POST">
        {% csrf_token %}
        {% for message in messages %}
          <ol>{{message}}</ol>
        {% endfor %}
        <div class="user-details">
          <div class="input-box">
            <span class="details">First Name*</span>
            {{ rform.first_name }}
          </div>
          <div class="input-box">
            <span class="details">Last Name*</span>
            {{ rform.last_name }}
          </div>
          <div class="input-box">
            <span class="details">Email Address*</span>
            {{ rform.email }}
          </div>
          <div class="input-box">
            <span class="details">Confirm Email Address*</span>
            {{ rform.email2 }}
          </div>
          <div class="input-box">
            <span class="details">Phone Number*</span>
            {{ rform.phone }}
          </div>
          <div class="input-box">
            <span class="details">Confirm Phone Number*</span>
            {{ rform.phone2 }}
          </div>
          <div class="input-box">
            <span class="details">Password*</span>
            {{ rform.password1 }}
            <p> Must contain special characters.</p>
            <p> Must contain upper/lowercase letters & numbers.</p>
            <p> Must be longer than 8 characters.</p>
          </div>
          <div class="input-box">
            <span class="details">Confirm Password*</span>
            {{ rform.password2 }}
          </div>
        </div>
        <div class="gender-details">
          <input type="radio" name="age" id="dot-1">
          <input type="radio" name="age" id="dot-2">
          <input type="radio" name="age" id="dot-3">
          <span class="gender-title">Age Range</span>
          {{ rform.age_range }}
          <br />
        </div>
        <div class="button">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>

</body>
</html>