<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/survey.css">
    <title>Survey</title>
</head>
<body>
    <section id="survey">
        <nav>
          <div class="nav__container">
            <a href="/" class="logo__wrapper">
                <h1 class="gciConnect__logo ubuntu">gciConnect!</h1>
                <img src="/static/assets/logo/GCISL_logo_fullcolor.png" alt="" class="header_logo"/>
              </a>
            <ul class="nav__links">
              <li><a href="/get_involved" class="nav__link active">Get Involved!</a></li>
              <li><a href="/contact" class="nav__link">Contact Us</a></li>
              <li><a href="/about" class="nav__link">About</a></li>
              <li>
                <figure class="profile__picture--wrapper">
                  <img
                    src="/static/assets/general/icon.png"
                    alt=""
                    class="profile__picture"
                    id="profile-picture"
                  />
                </figure>
              </li>
            </ul>
          </div>
        </nav>
      </section>

    <div class="body1">
        <p>Please fill in the information below</p>
    </div>

    <div class="body2">
        <p>Please note that by submitting this survey, you confirm that all the information</p>
        <p>provided is correct and accurate to the best of your knowledge</p>
    </div>

    <!-- Create Form -->
    <form id="form" action="" method="post">
        {% csrf_token %}
        <h2>{{survey.title}}</h2>
        {% for question in questions %}
            <div class="question">
                <!-- <input type="hidden" name="question_text_{{ question.questionid }}" value="{{ question.questiontext }}">
                <input type="hidden" name="question_type_{{ question.questionid }}" value="{{ question.questiontype }}">   -->
                <p>{{ question.questiontext }}</p>
                {% if question.questiontype == 'multiple_choice' %}
                    <ul>
                        {% for key, choices_list in choices.items %}
                            {% if key == question.pk %}
                                {% for choice in choices_list %}
                                    <li>
                                        <label>
                                            <input type="radio" name="question_{{ question.questionid }}_{{ choice.choiceid }}" value="{{ choice.choiceid }}">
                                            {{ choice.choicetext }}
                                        </label>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% elif question.questiontype == 'checkbox' %}
                    <ul>
                        {% for key, choices_list in choices.items %}
                            {% if key == question.pk %}
                                {% for choice in choices_list %}
                                    <li>
                                        <label>
                                            <input type="checkbox" name="question_{{ question.questionid }}_{{ choice.choiceid }}" value="{{ choice.choiceid }}">
                                            {{ choice.choicetext }}
                                        </label>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% elif question.questiontype == 'numeric' %}
                    <!-- <ul>
                        <li>
                            <label> -->
                                <input type="number" name="question_{{ question.questionid }}">
                            <!-- </label>
                        </li>
                    </ul> -->
                {% elif question.questiontype == 'text' %}
                    <textarea name="question_{{ question.questionid }}"></textarea>
                {% endif %}
            </div>
        {% endfor %}

        
        <input type="submit" value="Submit">
    </form>
    <footer>
        <div class="section__container">
          <div class="section__row">
            <div class="footer__wrapper">
                <a href="/" class="footer__logo">
                  <h1 class="gciConnect__logo ubuntu">gciConnect!</h1>
                  <img src="/static/assets/logo/GCISL_logo_white.png" alt="" class="logo"/>
                </a>
              <div class="footer__list">
                <a href="/get_involved" class="footer__link">Get Involved!</a>
                <a href="/contact" class="footer__link">Contact Us</a>
                <a href="/about" class="footer__link">About</a>
              </div>
            </div>
          </div>
        </div>
      </footer>
</body>
</html>
