{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Survey</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/survey.css' %}" />
  </head>
  <body>
    <section id="survey">
      <nav>
        <div class="nav__container">
          <a href="/" class="logo__wrapper">
            <h1 class="gciConnect__logo ubuntu">gciConnect!</h1>
            <img
              src="{% static 'assets/logo/GCISL_logo_fullcolor.png' %}"
              alt=""
              class="header_logo"
            />
          </a>
          <ul class="nav__links">
            {% if user.is_superuser or user.is_staff %}
            <li><a href="/admin" class="nav__link">Admin</a></li>
            <li>
              <a href="/survey/editor/" class="nav__link active"
                >Survey Manager</a
              >
            </li>
            <li>
              <a href="/get_involved/" class="nav__link">Get Involved!</a>
            </li>
            <li><a href="/about" class="nav__link">About</a></li>
            <li><a href="/logout" class="nav__link logout">Logout</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </section>

    <section id="surveylanding">
      <div class="section__container">
        <div class="section__row">
          <!-- Create Form -->
          <h1 class="section__title">Welcome to Survey Manager</h1>
          <p class="section__para">Manage your surveys below</p>
          <button id="createSurvey" onclick="handleCreateSurvey()">
            Create New Survey
          </button>
          <button id="editSurvey" onclick="handleEditSurvey()">
            Edit Survey
          </button>
          <!-- <button>Delete Survey</button> -->
        </div>
      </div>
    </section>

    <!-- load the java script function to refresh page when a new survey is selected-->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Your code here
        dropDownSurveyTitle();
      });

      function dropDownSurveyTitle() {
        const elem = document.getElementById("survey-titles");
        elem.addEventListener("change", function () {
          document.getElementById("filter-form").submit();
        });
      }

      function handleCreateSurvey() {
        document
          .getElementById("createSurvey")
          .addEventListener("click", function () {
            window.location.href = "builder/";
          });
      }

      function handleEditSurvey() {
        document
          .getElementById("editSurvey")
          .addEventListener("click", function () {
            window.location.href = "1/";
          });
      }
    </script>

<footer>
  <div class="footer__container">
    <div class="footer__row">
      <div class="footer__wrapper">
          <a href="/" class="footer__logo">
            <h1 class="gciConnect__logo ubuntu">gciConnect!</h1>
            <img src="{% static 'assets/logo/GCISL_logo_white.png' %}" alt="" class="gcisl__logo"/>
          </a>
          <div class="footer__list">
            <a href="/survey/editor" class="footer__link link__hover-effect link__hover-effect--white">Survey Manager</a>
            <a href="/get_involved" class="footer__link link__hover-effect link__hover-effect--white">Get Involved!</a>
            <a href="/about" class="footer__link link__hover-effect link__hover-effect--white">About</a>
          </div>
      </div>
    </div>
  </div>
</footer>
  </body>
</html>
