{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Survey</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/survey.css' %}" />
  </head>
  <body>
    <section id="survey">
      <nav>
        <div class="nav__container">
          <a href="/" class="logo__wrapper">
            <h1 class="gciConnect__logo ubuntu">gciConnect!</h1>
            <img
              src="{% static 'assets/logo/GCISL_logo_fullcolor.png' %}"
              alt=""
              class="header_logo"
            />
          </a>
          <ul class="nav__links">
            {% if user.is_superuser or user.is_staff %}
            <li><a href="/admin" class="nav__link">Admin</a></li>
            <li>
              <a href="/survey/editor/" class="nav__link active"
                >Survey Manager</a
              >
            </li>
            <li>
              <a href="/get_involved/" class="nav__link">Get Involved!</a>
            </li>
            <li><a href="/about" class="nav__link">About</a></li>
            <li><a href="/logout" class="nav__link logout">Logout</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </section>

    <section id="surveymanager">
      <div class="section__container">
        <div class="section__row">
          <!-- Create Form -->
          <h1 class="section__title">Survey Editor</h1>
          <p class="section__para">Edit your surveys below</p>

          <!-- The survey title thats active -->
          <div>
            <form method="post" action="">
              {% csrf_token %}
              <button
                type="submit"
                class="set-active-button"
                name="Set-Active-Button"
              >
                Set as Active
              </button>
            </form>
            <form id="filter-form" method="GET">
              {% csrf_token %}
              <label for="survey-titles">Survey List</label>
              <select name="titles" id="survey-titles">
                <option value="{{survey.pk}}">{{survey.title}}</option>
                {% for survey_piece in allSurveys %} 
                  {% if survey_piece.pk != survey.pk %}
                <option value="{{survey_piece.pk}}">
                    {{survey_piece.title}}
                </option>
                  {% endif %}
                {% endfor %}
              </select>
            </form>
            <h1>Survey Title: {{survey.title}}</h1>
            <h3 class="question-label">
              Survey Description: {{survey.description}}
            </h3>
            <button id="viewResponse" onclick="handleViewResponse()">
              View Response
            </button>
          </div>
        </div>
      </div>
    </section>

    <!-- load the java script function to refresh page when a new survey is selected-->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Your code here
        dropDownSurveyTitle();
      });

      function dropDownSurveyTitle() {
        const elem = document.getElementById("survey-titles");
        elem.addEventListener("change", function () {
          document.getElementById("filter-form").submit();
        });
      }

      function handleViewResponse() {
        document
          .getElementById("viewResponse")
          .addEventListener("click", function () {
            window.location.href = "response/";
          });
      }
    </script>
    <form method="post" id="question-form">
      {% csrf_token %}
      <label>Question Text</label>
      <div>{{qform.questiontext}}</div>
      <label>Question Type</label>
      <div>{{qform.questiontype}}</div>
      <button type="submit" name="CreateQuestionButton" id="createnewquestion">
        Create New Question
      </button>
    </form>
    <!-- load current questions that have been created with edit and delete features -->
    <!-- question addition -->
    <form method="post" id="choice-form">
      {% csrf_token %}
      <h2>Question Choice Editor</h2>
      {% for question in questions %}
        <h3>Question {{forloop.counter}}: {{question.questiontext}}</h3>
      <button
        type="submit"
        name="DeleteQuestion"
        id="deleteQuestion"
        value="{{question.pk}}"
      >
        Delete Question
      </button>
        {% if question.questiontype != "text" and question.questiontype != "numeric" %}
      <label class="question-label">Choices:</label>
          {% for choice in choices %} 
            {% if choice.questionid.pk == question.pk %}
      <!-- For some reason its not formattiong correctly so I just did this for now - Luke -->
        <li>- {{choice.choicetext}}</li>
            {% endif %}
          {% endfor %}
      <label>Add choice:</label>
      <input type="text" name="choicetext_{{question.pk}}" />
      <input
        type="hidden"
        name="questionid_{{question.pk}}"
        value="{{question.pk}}"
      />
        {% else %}
      <div style="margin-bottom: 20px">
          Question type {{question.questiontype}} doesn't take choices.
      </div>
        {% endif %}
      <br />
      {% endfor %}
      <button type="submit" name="CreateChoiceButton" id="createchoicebutton">
        Create New Choice
      </button>
    </form>

    <footer>
      <div class="footer__container">
        <div class="footer__row">
          <div class="footer__wrapper">
              <a href="/" class="footer__logo">
                <h1 class="gciConnect__logo ubuntu">gciConnect!</h1>
                <img src="{% static 'assets/logo/GCISL_logo_white.png' %}" alt="" class="gcisl__logo"/>
              </a>
              <div class="footer__list">
                <a href="/survey/editor" class="footer__link link__hover-effect link__hover-effect--white">Survey Manager</a>
                <a href="/get_involved" class="footer__link link__hover-effect link__hover-effect--white">Get Involved!</a>
                <a href="/about" class="footer__link link__hover-effect link__hover-effect--white">About</a>
              </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
