@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box !important;
  font-family: "Montserrat", sans-serif !important;
  padding: 0;
  margin: 0;
  z-index: 2;
}

html {
  scroll-behavior: smooth;
}

.crimson {
  color: #ca1237 !important;
}

.ubuntu {
  font-family: "Ubuntu", sans-serif !important;
}

a {
  text-decoration: none !important;
}

h1 {
  font-size: 48px !important;
  font-weight: 700 !important;
}

ul {
  display: flex !important;
}

li {
  list-style-type: none !important;
}

#landing {
  background-color: #fff;
  height: 100vh;
}

.nav__container {
  width: 100%;
  max-width: 1400px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

nav {
  height: auto;
  display: flex;
  margin-bottom: 20px;
}

.nav__links {
  padding-top: 20px;
  z-index: 2;
}

.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  padding: 8px;
  color: #000 !important;
}

.nav__link:hover {
  background-color: #ddd;
  color: black;
  border-radius: 10px;
}

.nav__link.logout {
  background-color: #1f1f1f;
  color: #fff !important;
  border-radius: 10px;
}

.header_logo {
  width: 100%;
  height: 10vh;
  margin-left: 20px;
}

.header__container {
  display: flex;
  justify-content: center;
  height: 80vh;
  margin-top: 20px;
}

.header__description {
  margin: 20px;
  padding: 20px;
  color: #fff;
}

.header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section__container {
  padding: 80px 0;
}

.section__row {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

button {
  cursor: pointer;
  background-color: #ca1237;
  color: white;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  font-weight: 600;
}

button:hover {
  opacity: 0.8;
  transition: all 300ms ease;
}

.link{
  color: white;
  font-weight: bold;
}

/* FOR LOGGED VIEW */
.profile__picture--wrapper {
  height: 0px;
  width: 40px;
  margin-left: 16px;
}

.profile__picture {
  width: 100%;
  border-radius: 50%;
}

/* CAROUSEL */
#landing__carousel {
  border-radius: 20px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.45);
  overflow: hidden;
  display: flex;
  padding: 20px;
  max-width: 1200px;
  background-color: #4d4d4d;
}

.carousel-inner {
  border-radius: 20px;
}

.image__container--wrapper {
  width: 100%;
  border-radius: 20px;
}

.image {
  height: 100vh;
  width: 120%;
}

.footer_image {
  height: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

/* QUOTE */
#quotes {
  background-color: #ffffff;
  border-color: #000;
  padding: 50px 0;
}

.quotes__title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gciConnect__logo {
  color: #fff;
  font-size: 28px;
  font-weight: 700 !important;
  margin-right: 20px;
}

.logo__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-left: 20px;
  max-width: 35%;
}

/* GALLERY */
#gallery {
  background-color: #4d4d4d;
  position: relative;
}

.gallery__wrapper {
  display: flex;
}

.gallery__title {
  color: #fff;
  margin-bottom: 20px;
}

.gallery__left {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gallery__button {
  padding: 12px 80px;
}

.gallery__right {
  width: 60%;
}

.gallery__image--wrapper {
  position: relative;
  border-radius: 20px;
  box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.45);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__image {
  max-width: 100%;
  border-radius: 12px;
  transition: all 600ms ease;
  filter: blur(5px);
}

.gallery__image--wrapper:hover .gallery__image {
  transform: scale(1.07);
  filter: blur(0);
}

/* GET INVOLVED */
#get-involved {
  background-color: #fff;
}

.get-involved__button {
  padding: 16px 96px;
  margin-bottom: 50px;
}

.get-involved__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.get-involved__title {
  margin-top: 50px;
  margin-bottom: 40px;
}

/* FOOTER */
footer {
  background-color: #1f1f1f;
}

.footer__container {
  padding: 80px 0;
}

.footer__row {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gciConnect__logo {
  color: #a60f2d;
}

.footer__logo .gciConnect__logo {
  color: #fff;
}

.gcisl__logo {
  margin-left: 20px;
  max-width: 35%;
  width: 100%;
}

.footer__wrapper {
  margin: 50px 0;
}

.footer__link {
  color: #fff !important;
  font-weight: 600;
  padding: 0 8px;
}

.footer__list {
  margin: 20px 0 24px 0;
  display: flex;
  justify-content: center;
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect::after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  background-color: black;
  transition: all 300ms ease;
}

.link__hover-effect:hover::after {
  left: 0;
  width: 100%;
}

.link__hover-effect--white::after {
  background-color: #fffbf8;
}
/* SHAPES */

.shape {
  position: fixed;
  opacity: 1;
  max-width: 150px;
  max-height: 150px;
  z-index: -1;
}

.shape--0 {
  top: 15vh;
  left: 88vw;
}

.shape--1 {
  top: 80vh;
  left: 5vw;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 1024px) {
  .logo__wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  h1 {
    font-size: 36px !important;
    font-weight: 700 !important;
  }

  p {
    font-size: 16px;
  }

  #landing {
    height: auto;
  }

  header {
    margin: 40px;
  }

  .header_logo {
    width: 100%;
    height: 80px;
    margin-top: 10px;
  }

  .header__container {
    height: auto;
  }

  .nav__container {
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .nav__link {
    font-size: 16px;
    margin-left: 12px;
    padding: 4px;
  }

  .profile__picture--wrapper {
    margin-left: 12px;
  }

  .header__description {
    text-align: center;
    font-size: 16px;
  }

  #quotes {
    margin: 20px;
  }
  #landing__carousel {
    margin-top: 80px;
    max-width: 800px;
    flex-direction: column;
  }

  .image__container--wrapper {
    width: 100%;
  }

  .image {
    border-radius: 20px;
    width: 100%;
    height: 100%;
  }

  .section__row {
    max-width: 700px;
  }

  .gallery__wrapper {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .gallery__left {
    width: 100%;
    margin: 20px;
  }

  .gallery__right {
    width: 100%;
    margin: 20px;
  }

  .get-involved__title {
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 36px !important;
    font-weight: 700 !important;
  }

  p {
    font-size: 12px;
  }

  #landing {
    height: auto;
  }

  header {
    margin: 20px;
  }

  nav {
    height: auto;
  }
  .header__description {
    text-align: center;
  }


  .header_logo {
    width: 100%;
    height: 80px;
    margin-top: 10px;
  }

  .nav__container {
    flex-direction: column;
    align-items: center;
  }

  .nav__link {
    font-size: 16px;
    margin-left: 12px;
    padding: 4px;
  }

  .profile__picture--wrapper {
    margin-left: 12px;
  }
  .gciConnect__logo {
    margin-right: 0; /* Remove right margin */
  }

  .gallery__wrapper {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .header__description {
    text-align: center;
    font-size: 12px;
  }

  #quotes {
    margin: 20px;
  }
  #landing__carousel {
    margin-top: 80px;
    max-width: 800px;
    flex-direction: column;
  }

  .image__container--wrapper {
    width: 100%;
  }

  .image {
    border-radius: 20px;
    width: 100%;
    height: 100%;
  }

  .section__row {
    max-width: 600px;
  }

  .gallery__wrapper {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .gallery__left {
    width: 100%;
    margin: 20px;
  }

  .gallery__right {
    width: 100%;
    margin: 20px;
  }

  .get-involved__title {
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .nav__container {
      flex-direction: column;
      align-items: center;
  }

  .nav__links {
      margin-top: 20px;
  }

  .nav__link {
      font-size: 8px;
      margin: 8px;
      padding: 4px;
  }

  h1 {
    font-size: 36px !important;
    font-weight: 700 !important;
  }

  .profile__picture--wrapper {
      margin-left: 8px;
  } 

  

  p {
    font-size: 12px;
  }

  #landing {
    height: auto;
  }

  header {
    margin: 10px 0;
  }

  .header__container {
    margin-top: 0;
  }

  .header_logo {
    width: 100%;
    height: 80px;
    margin-top: 10px;
  }

  .profile__picture--wrapper {
    margin-left: 12px;
  }

  .header__description {
    text-align: center;
    font-size: 12px;
  }

  #quotes {
    margin: 20px;
  }

  #landing__carousel {
    margin-top: 80px;
    max-width: 800px;
    flex-direction: column;
  }

  .image__container--wrapper {
    width: 100%;
  }

  .image {
    border-radius: 20px;
    width: 100%;
    height: 100%;
  }

  .section__row {
    max-width: 600px;
  }

  .gallery__wrapper {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .gallery__left {
    width: 100%;
    margin: 20px;
  }

  .gallery__right {
    width: 100%;
    margin: 20px;
  }

  .get-involved__title {
    text-align: center;
  }
}